/* to solve miscellaneous needs for specific pages/articles */ 

.covid-table  {
  border-bottom: 0px;
}

.covid-table.table th, .covid-table.table thead {
  border-bottom: 0px none transparent;
}

.covid-table.table td {
  padding: 15px;
}

