# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db

# R
.Rproj.user
*.Rproj

*.Rhistory

# specific data files
data/bell_sim/raw/
data/bell_sim/bell_scripts/
data/keys/
data/bayes/
data/time-series/fit_fable.RData
data/flights.parquet
*bam_*.RData
posts/2019-06-21-empirical-bayes/data/*
old_stuff/old_2024.zip
data/*/rossmann-store-sales
data/rossmann-store-sales
data/dl-tab/YearPredictionMSD.txt.zip

# images
img/covid/us-county-map-1.svg

# vs code
*.code-workspace
.vscode/

python/

# quarto
/.quarto/
_freeze/
*_cache/