@import url("https://fonts.googleapis.com/css?family=Source+Sans+3:300,400,500,600,700,800|Roboto:300,400,500,600,700,800|Roboto+Mono|Roboto+Condensed|Open+Sans|Open+Sans+Condensed:300|Open+Sans+Condensed:light|Lato|Lora|Fira+Sans|Fira+Mono");



/*-- scss:defaults --*/
$h1-font-size:          2rem !default;
$h2-font-size:          1.6rem !default;
$headings-font-weight:  600 !default;
$body-bg:               #FEFCFD !default;
$body-color:            #404040 !default;
$pre-color:             #404040 !default; 
$navbar-bg:             #BFCDE0 !default;
$navbar-brand:          #313D5A !default;



/*-- scss:rules --*/
h1, h2, h3, h4, h5, h6 {
  /*text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);*/
  font-family: Open Sans Condensed, Roboto Condensed, Roboto, Sans-Serif;
  color: #753742; /**/
}



/*  listings  */
h3.listing-title {
  font-family: Open Sans Condensed, Roboto Condensed, Roboto, Sans-Serif;
  color: #b33951; /**/
}

// text for listings
.about-links, a:hover {
  color: #BFCDE0 !important; //# #084887
}

h3.listing-title a.no-external {
  color: #753742;
}

h3.listing-title a:hover, .listing-description a:hover {
  color: #084887 !important;   // important or about links will override
}

// metadata for listings
div.quarto-post .metadata {
  flex-basis: 10%;  // originally 33%
}

div.quarto-post .metadata a:hover {
  color: #084887 !important;
}


/* posts */

#title-block-header.quarto-title-block.default .quarto-title .title {
  font-family: Source Sans 3, Open Sans Condensed, Roboto Condensed, Roboto, Sans-Serif;
  font-size: 2rem;
  text-align: center;
  display: block-flex;
  color: #753742;
}
.quarto-title .quarto-category {
  color: #b33951;
}
// post description
#title-block-header.quarto-title-block.default .quarto-title p {
  color: #404040;
}

.quarto-title-banner {
  background: #FEFCFD;
}

/* for some reason the date part of the author etc. is not on part of that stuff it's note even a single object */
.quarto-title-meta-heading {
  text-align: center;
}

.quarto-title-meta-author {
  text-align: center;
}

.date {
  text-align: center;
}

/* main title page  if title-block-banner: true on index */
.column-page-left h1.title {
  font-family: Source Sans 3, Open Sans Condensed, Roboto Condensed, Roboto, Sans-Serif;
  font-size: 3rem !important;
  // font-variant: small-caps;
  font-weight: 200;
  text-align: center;
  display: block-flex;
  color: #FEFCFD;
}

/* Nav bar stuff */

.navbar .nav-link {
  // color: #313D5A !important;
  color: #fff;
  font-size: 1.25rem;  // originally 13px
}

.navbar #quarto-search.type-overlay .aa-Autocomplete svg.aa-SubmitIcon {
  // fill: #313D5A;
  fill: #fff;
}

.navbar {
  background-color: #084887 !important;
}

// name at present
.navbar-title {
  color: #fff;
  font-size: 1.25; // make the same as nav-link
}



.navbar-logo {
  width: 50px;
}



.navbar-brand:hover {
  color: #084887 ;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #BFCDE0;
}
// this is just the outline of the button when clicked;
// for the actual icons/buttons, see _quarto.yml
button.navbar-toggler {
  color: #fff;
}

.navbar-toggler-icon {
  color: #fff ;
  width: 25px;
}

span.navbar-toggler-icon:hover {
  color: #fff !important;
}

/* sidebar */
// toc; size is controlled by nav-link.
.sidebar, .margin-sidebar {
  font-weight: 300;
}


.sidebar nav[role=doc-toc]>ul li a {
  line-height: 1.1rem;
  padding-bottom: .3rem;
  padding-top: .3rem;
  font-size: 1.1rem;
  color: inherit;
}

.sidebar nav[role=doc-toc] ul>li>a:hover, .sidebar nav[role=doc-toc] ul>li>ul>li>a:hover {
  color: #084887 !important;
  font-weight: 300;
}

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
  border-left: 1px solid #753742;
  color: #b33951 !important;
}

.sidebar nav[role=doc-toc] ul>li>a.active {
  color: #313D5A;
  border-left: 1px solid #753742
}

/* standard text */
p {
  font-size: 1.2rem;
  // font-size: 14pt;
  // font-family: Roboto, Libre Baskerville, Helvetica, sans-serif;
}

.listing-description {
  font-size: 1.1rem;
}

/* not sure this will look good but leaving for now
.quarto-title-banner {
  background-image: url('img/title-page-gp.svg') ;
  background-size: 33%;
  background-position: right;
  background-repeat: no-repeat;
  display: block;
}
*/


/* Images */
img {
  background-color: transparent
}

.img-fluid {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* about page picture */
.about-entity img {
  width: 75% !important;
}

div.quarto-post .thumbnail img {
  width: 75%;
}

div.quarto-about-trestles .about-entity .about-link {
  color: #737373;
  text-decoration: none;
  border: solid #b33951 1px; // #93c54b  like this color as something different but not enough contrast
}

/* Code*/

// output
pre code {
  // font-size: .9rem; /* smaller in blocks */
  font-family: Roboto Mono, Consolas, Fira Mono, monospace;
}

p code {
  // font-size: 1rem;  /* same inline */
}

// actual code blocks
pre.sourceCode {
    border-left: 1px solid #ddd;
    font-size: 1rem;
    overflow: visible !important;
    padding: 0.4em;
}


/* text highlights */
.emph, em {
  color: #084887;  
  font-style: normal;
  // font-family: Source Sans 3 Bold;
  font-weight: 600;
}

.description {
  text-align: center;
}



/* marginalia and related */
  /* categories */
  /* displayed in margin*/
  .category {
    font-size: 1rem;
  }
  
  /* displayed in navbar*/
  .quarto-categories {
    justify-content: center;
  }
  .quarto-category {
    color: #fff;
    opacity: .8 !important;
    text-align: center !important;
  }

  /* margins/asides */
  .column-margin p, .column-margin code{
    font-size: .66rem;
  }





/* links */

p a:hover {
    color: #084887; // #b71f66 !important;
}

/* table */
.gt_table {
  background-color: transparent !important; /*ignored*/
  width: 50%;
}
.gt_table th, tr td {
  font-family: Roboto !important;
}

.pack {
  /* color: #1f65b7; #990071 #AC9CFF #e41a1c*/
  font-weight: 500;
}

.pack::before {
  content: "{"
}

.pack::after {
  content: "}"
}


/*
{
  #E69F00,
  #56B4E9,
  #009E73,
  #F0E442,
  #0072B2,
  #D55E00,
  #CC79A7,
  #999999
}

# whites
#FEFCFD
#e2e2e2

# reds
#753742
#E63946

# blues
#BFCDE0
#084887
#313D5A
#1f77b4


old: 
#1f77b4
#1f65b7

*/
