@import url("pygment_highlights.css");
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);
@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Roboto+Condensed|Open+Sans|Open+Sans+Condensed:300|Open+Sans+Condensed:light|Lato|Lora|Fira+Sans|Fira+Mono");


body {
  font-family: Roboto, 'Libre Baskerville', sans-serif; /*, et-book, "Palatino Linotype", "Palatino LT STD", 'Lora', serif*/
  font-size: 15px;
  font-weight: 300;
  color: #404040;        /* #404040*/
  position: relative;
  background: #FFFFF8;      /* {{ site.page-col }}; */
}

/* distill specific */

d-title h1 {
  font-family: 'Open Sans Condensed', Roboto, Helvetica, Arial, sans;
  font-weight: 200;
  font-size: 50px;
  color: #ff5500;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  line-height: 1;
}

.index-title h1 {
  font-family: 'Open Sans Condensed', Roboto, Helvetica, Arial, sans;
  font-weight: 200;
  font-size: 75px;
  font-variant: small-caps;
  text-align: center;
  color: #ff5500;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  line-height: 1;
  border-bottom: 0; /*same as default h2*/
  padding-bottom: 1rem; 
}

d-article h1 {
  font-family: 'Open Sans Condensed', Roboto, Helvetica, Arial, sans;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 400;
  font-size: 175%;
  color: #ff5500;
  margin-top: 2.1rem;
  margin-bottom: 1.2rem;
  line-height: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); /*same as default h2*/
  padding-bottom: 1rem;
}

d-article h2 {
  font-family: 'Open Sans Condensed', Roboto, Helvetica, Arial, sans;
  font-style: normal;
  font-weight: 400;
  font-size: 150%;
  color: #ff5500;
  margin-top: 2.1rem;
  margin-bottom: 1.2rem;
  line-height: 1;
  /* to remove will require something to keep the inline from inserting */
  border-bottom: 0px solid rgba(0, 0, 0, 0.1); 
  padding-bottom: 1rem; 
  
}


d-article h3 {
  font-family: 'Open Sans Condensed', Roboto, Helvetica, Arial, sans;
  font-style: normal;
  font-weight: 400;
  font-size: 125%;
  color: #ff5500;
  opacity: .9;
  margin-top: 2rem;
  margin-bottom: 1.2rem;
  line-height: 1;
}

d-article  h4 {
  font-family: 'Open Sans Condensed', Roboto, Helvetica, Arial, sans;
  font-style: normal;
  text-transform: none;  /*default is uppercase*/
  font-weight: 400;
  font-size: 110%;
  color: #ff5500;
  opacity: .9;
  margin-top: 1.9rem;
  margin-bottom: 1.2rem;
  line-height: 1;
}

d-article  h5 {
  font-family: 'Open Sans Condensed', Roboto, Helvetica, Arial, sans;
  font-style: normal;
  text-transform: none;  /*default is uppercase*/
  font-weight: 400;
  font-size: 100%;
  color: #ff5500;
  opacity: .9;
  margin-top: 1.9rem;
  margin-bottom: 1.2rem;
  line-height: 1;
}



/* Nav bar */

.distill-site-nav {
  color: #404040;
  background-color: #d9edf7;
  font-size: 20px;
  font-weight: 300;
}


.distill-site-nav a {
  color: inherit;
  text-decoration: none;
}

.distill-site-nav a:hover {
  color: #0085a1;
}

/* sidebar on front page with category listing */

.posts-with-sidebar .posts-sidebar {
  float: right;
  width: 10%;    /* default 20, made narrow */
  margin-top: 60px;
  padding-top: 24px;
  padding-bottom: 24px;
}

/* attempt to make result not so wide/spacious */ 

.posts-with-sidebar .posts-list {
  width: 66%;
  margin-left: 11%;
}

.posts-sidebar {
  font-size: 75%;
  margin-right: 10%;
}


/* code */

/* will now work as of latest distill version*/

d-article div.sourceCode code, d-article pre code {
  font-family: 'Roboto Mono', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  color: #404040FF;
  font-size: 90%;
}


d-article pre {
  background-color: #FFFFF8;
}

/* Otherwise will leave a white background visible at bottom of code chunks*/
d-article div.sourceCode {
  background-color: #FFFFF8;
}

/* code results/output */
pre.text-output {
  font-family: 'Roboto Mono', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  color: #000000CC;
}



/* latex */
.math {
  color: #404040;  
  font-weight: normal;
  font-size: 90%;
}


/* link effects; appendix apply to footnote return links */

/*remove old line*/
d-article a:hover {
  text-decoration: none;
  border-bottom: none;
  background-size: 100% 100%;
  cursor: pointer;
}


/* add new effects */
p a, aside a, li a, d-appendix a, a.footnote-backlink {
    color: #03b3ff;
    display: inline-block;
    text-decoration: none;
    transition: background-size .4s ease;
    border-bottom: 0px solid;
}

p a {
  /* text-decoration: underline */
  color: #03b3ff;
}

p a:after, aside a:after, li a:after, d-appendix a:after {
    content: '';
    display: block;
    width: 0;
    height: 1.25px;
    background: #FF4F03;
    transition: width .3s;
}

p a:hover::after, aside a:hover::after, li a:hover::after, d-appendix a:hover::after {
  width: 100%;
  //transition: width .3s;
 }

/* for twitter etc icon links */
.social-icon {
  color: #03b3ff;
  background-image: none;  /* remove hover line*/
  background-size: 0 100%;
  background-repeat: no-repeat;
  text-decoration: none;
  transition: background-size .4s ease;
  border-bottom: 0px solid;
}

d-footnote-list a.footnote-backlink {
    color:  #03b3ff !important; /* otherwise some inline injection will occur*/
    padding-left: 0.5em;
}

.categories li > a:hover {
  border-bottom: none !important;
}

/* remove underline for TOC */
.d-contents nav a:hover {
    text-decoration: none;
}



/* text highlights */
.emph, em {
  color: #E32D00;  /*#ff5500 #D14300*/
  font-style: normal;
  font-weight: 450;
}

/* don't do color for references */
.references em {
  color: rgba(0,0,0,0.5);
  font-style: normal;
  font-weight: 450;
}

strong {
  color: #404040;  
}

/* pack func and objclass colors initially come from hcl(seq(90,360, length.out=4), c=80, l=80); redone for contrast*/
.pack {
  color: #1f65b7; /* #990071 #AC9CFF #e41a1c*/
  font-weight: 400;
}

.func {
  color: #007020;   /*#007199 #00CBB6; #984ea3; can just use `` instead*/
  font-weight: 400;
}

.objclass {
  color:  #947100;  /*#AAB400 #4daf4a; #FFC5D0*/
  font-weight: 400;
}

/* object/class via inline code */
p code {
  color: #947100;
}


/* figures and tables */

d-article table {
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* add spacing for figs and tables, so text and other figs/tables don't 
start right up at their border */
.l-body {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Search bar */

.algolia-autocomplete {
    display: inline-block;
    margin-left: 10px;
    vertical-align: sub;
    background-color: #fffff8;
    color: #03b3ff;             /* Color of text in drop-down*/
    padding: 6px;
    padding-top: 8px;
    padding-bottom: 0;
    border-radius: 6px;
    border: 0px #03b3ff solid;  /* Removed border */
    width: 180px;
}