@import url("pygment_highlights.css");
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);
@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Roboto+Condensed|Lato|Lora|Fira+Sans");

/* latin-ext */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xC8hAQ4ocbp44gFQt8tMfcH3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xBEur64QvLD-0IbiAdTUNXE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


body {
  font-family: Roboto, 'Libre Baskerville', sans-serif; /*, et-book, "Palatino Linotype", "Palatino LT STD", 'Lora', serif*/
  font-size: 15px;
  font-weight: 300;
  color: #404040;        /* #404040*/
  position: relative;
  background: #FFFFF8;      /* {{ site.page-col }}; */
  {% if site.page-img %}
  background-image: url({{ site.page-img }});
  background-attachment: fixed;
  {% endif %}
}

p {
  font-family: Roboto, 'Libre Baskerville', 'Helvetica Neue' ; /*, et-book, "Palatino Linotype", "Palatino LT STD", 'Lora', serif*/
  line-height: 1.5;
  font-weight: 300;
  margin: 30px 0;
}

p a {
  /* text-decoration: underline */
  color: #03b3ff;
}



/* link effects; possibly change to p a */
p a {
    color: #03b3ff;
    background-image: linear-gradient(180deg,transparent 90%, #FF4F03 0);
    background-size: 0 100%;
    background-repeat: no-repeat;
    text-decoration: none;
    -webkit-transition: background-size .4s ease;
    -moz-transition: background-size .4s ease;
    -ms-transition: background-size .4s ease;
    -o-transition: background-size .4s ease;
    transition: background-size .4s ease;
    border-bottom: 0px solid;
}

/* for twitter etc icon links */
.social-icon {
  color: #03b3ff;
  background-image: none;  /* remove hover line*/
  background-size: 0 100%;
  background-repeat: no-repeat;
  text-decoration: none;
  -webkit-transition: background-size .4s ease;
  -moz-transition: background-size .4s ease;
  -ms-transition: background-size .4s ease;
  -o-transition: background-size .4s ease;
  transition: background-size .4s ease;
  border-bottom: 0px solid;
}

li a {
    color: #03b3ff;
    background-image: linear-gradient(180deg,transparent 90%, #FF4F03 0);
    background-size: 0 100%;
    background-repeat: no-repeat;
    text-decoration: none;
    -webkit-transition: background-size .4s ease;
    -moz-transition: background-size .4s ease;
    -ms-transition: background-size .4s ease;
    -o-transition: background-size .4s ease;
    transition: background-size .4s ease;
    border-bottom: 0px solid;
}

.categories li > a:hover {
  border-bottom: none !important;
}

d-appendix a, d-appendix a:hover {
    color: #03b3ff !important;
    background-image: linear-gradient(180deg,transparent 90%, #FF4F03 0);
    background-size: 0 100%;
    background-repeat: no-repeat;
    text-decoration: none;
    -webkit-transition: background-size .4s ease;
    -moz-transition: background-size .4s ease;
    -ms-transition: background-size .4s ease;
    -o-transition: background-size .4s ease;
    transition: background-size .4s ease;
    border-bottom: 0px solid;  
}

d-article aside a, d-article aside a:hover {
    color: #03b3ff !important;
    background-image: linear-gradient(180deg,transparent 90%, #FF4F03 0);
    background-size: 0 100%;
    background-repeat: no-repeat;
    text-decoration: none;
    -webkit-transition: background-size .4s ease;
    -moz-transition: background-size .4s ease;
    -ms-transition: background-size .4s ease;
    -o-transition: background-size .4s ease;
    transition: background-size .4s ease;
    border-bottom: 0px solid;  
}



.img-cscar {
  width: 10%;
}


/* text highlights */
.emph {
  color: #E32D00 ;  /*#ff5500 #D14300*/
  font-weight: 450;
}

/* pack func and objclass colors initially come from hcl(seq(90,360, length.out=4), c=80, l=80); redone for contrast*/
.pack {
  color: #990071; /*#AC9CFF #e41a1c*/
  font-weight: 450;
}

.func {
  color: #007020;   /*#007199 #00CBB6; #984ea3; can just use `` instead*/
  font-weight: 450;
}

.objclass {
  color:  #947100;  /*#AAB400 #4daf4a; #FFC5D0*/
  font-weight: 450;
}

/* radix specific */

d-title h1 {
  font-family: 'Open Sans Condensed';
  font-weight: 200;
  font-size: 50px;
  color: #ff5500;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  line-height: 1;
}

d-article h1 {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  color: #ff5500;
  margin-top: 2.1rem;
  margin-bottom: 1.2rem;
  line-height: 1;
}

d-article h2 {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 150%;
  color: #ff5500;
  margin-top: 2.1rem;
  margin-bottom: 1.2rem;
  line-height: 1;
}


.posts-list .post-preview h2 {
  font-family: 'Open Sans Condensed', -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 150%;
  color: #ff5500;
  margin-top: 2.1rem;
  margin-bottom: 1.2rem;
  line-height: 1;
}

.posts-list .description h2 {
  font-family: 'Open Sans Condensed', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 150%;
  color: #ff5500;
  margin-top: 2.1rem;
  margin-bottom: 1.2rem;
  line-height: 1;
}



d-article h3 {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 125%;
  color: #ff5500;
  opacity: .9;
  margin-top: 2rem;
  margin-bottom: 1.2rem;
  line-height: 1;
}

d-article  h4 {
  font-family: 'Open Sans Condensed';
  font-variant: normal;
  font-weight: 400;
  font-size: 110%;
  color: #ff5500;
  opacity: .9;
  margin-top: 1.9rem;
  margin-bottom: 1.2rem;
  line-height: 1;
}

d-article  h5 {
  font-family: 'Open Sans Condensed';
  font-variant: normal;
  font-weight: 400;
  font-size: 100%;
  color: #ff5500;
  opacity: .9;
  margin-top: 1.9rem;
  margin-bottom: 1.2rem;
  line-height: 1;
}



d-article a:hover {
  text-decoration: none;
  border-bottom: none;
  background-size: 100% 100%;
  cursor: pointer;
}

/* changing this will bork the phone; revisit later
.base-grid, distill-header, d-title, d-abstract, d-article, d-appendix, distill-appendix, d-byline, d-footnote-list, d-citation-list, distill-footer {
    grid-template-columns: [screen-start] 1fr [page-start kicker-start] 80px [middle-start] 80px [text-start kicker-end] 80px 80px 80px 80px 80px 80px 80px 80px [text-end gutter-start] 80px [middle-end] 80px [page-end gutter-end] 1fr [screen-end];
    grid-column-gap: 32px;
}
*/

.distill-site-nav {
  color: #404040;
  background-color: #d9edf7;
  font-size: 20px;
  font-weight: 300;
}

.distill-site-nav a {
  color: inherit;
  text-decoration: none;
}

.distill-site-nav a:hover {
  color: #0085a1;
}

.distill-site-header {
}

.distill-site-footer {
}

@media print {
  .distill-site-nav {
    display: none;
  }
}

.posts-list .post-preview .thumbnail img {
    width: 100%;
    background: transparent;
    display: block;
}

/* latex */
.math {
  color: #404040;  
  font-weight: normal;
  font-size: 90%;
}

/* code */

/* this is the code from selector for a code block, but doesn't do anything */

code #code-container .language-clike {
  font-family: 'Roboto Mono', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

code[class*="language-"], pre[class*="language-"] {
    color: black;
    background: none;
    text-shadow: 0 1px white;
    font-family: 'Roboto Mono', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 50%;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}


/* will only affect inline*/
pre code {
  font-family: 'Roboto Mono', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 90%;
}

/* code results/output */
pre.text-output {
  font-family: 'Roboto Mono', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  color: #000000CC;
}


/* is read to a point, only the space before the code */
d-code {
  font-family: 'Roboto Mono', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 100%;
  margin: 0px 0 10px 0;
}



/* this is literally the css path copied from firefox dev tools, useless */
code#code-container.language-clike {
  font-size: 500%;
  color: red;
}

#shadowroot pre code#code-container.language-clike {
  font-size: 500%;
  color: red;
}

.token.function {
  font-size: 200%;
}

pre, xmp, plaintext, listing {
    display: block;
    font-family: 'Roboto Mono', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    white-space: pre;
    margin: 1em 0px;
}

/* to fix aside; see issue #39 https://github.com/rstudio/distill/issues/39*/ 
@media(min-width:768px) {
  aside {
      margin-top: -00px;
      margin-bottom: -500px;
  }
}


/* images */
img {
  background: transparent;
}

/* list */

ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #ff5500BF; /* Change the color */
  size: 5;
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  /*margin-left: 0em;  Also needed for space (tweak if needed) */
}



/* main part on front page with description */

/*

.posts-with-sidebar .posts-list {
  float: left;
  width: 72%;
}

.posts-list {
  margin-top: 60px;
  margin-bottom: 24px;
}

*/

/* sidebar on front page with category listing */

.posts-with-sidebar .posts-sidebar {
  float: right;
  width: 10%;    /* default 20, made narrow */
  margin-top: 60px;
  padding-top: 24px;
  padding-bottom: 24px;
}

/* attempt to make result not so wide/spacious */ 
.posts-with-sidebar .posts-list {
  width: 66% !important;
  margin-left: 11%;
}

.posts-sidebar {
  font-size: 16px;
}

/* tables */

d-article table {
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid 
    rgba(0, 0, 0, 0.2);
}