
/* most of this will be ignored over some injected css <style scope='d-code'> that inherits this but won't actually use; and mostly this only affects the area before the actual code */
d-article > d-code, 
d-article section > d-code code#code-container[class*="language-"] {
    color: black;
    background: none;  /* not ignored, for example, but also useless */
    font-size: 100%;
    text-shadow: 0 1px white;
    font-family: 'Roboto Mono', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}




/* printed text ouptut, at least this works because it's not part of d-code */  
pre.text-output {
    font-size: 12px;
    color: rgba(0,0,0,0.8);
    background: none;
    font-family: 'Roboto Mono', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
  
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
  
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }
