table {
  
}

.control-label {
  color: 'gray50';
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: '#fffff8';
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

table.dataTable.no-footer {
    border-bottom: 1px solid #111;
    align: center;
}

.navbar-inverse {
    background-color: #b2001d;
    border-color: #006687;
}

.chart-wrapper { overflow-x: scroll; }


h1, h2, h3, h3, h5 {
  color: #b2001d ;
}

.chart-title {
    border-bottom: 0px solid #d7d7d7;
    color: #404040FF;
    font-size: 16px;
    font-weight: 500;
    padding: 7px 10px 4px;
}

body {
  font-family: Roboto, 'Libre Baskerville', sans-serif; /*, et-book, "Palatino Linotype", "Palatino LT STD", 'Lora', serif*/
  font-size: 15px;
  font-weight: 300;
  color: #404040;        /* #404040*/
  position: relative;
  background: #FFFFF8;    
}

p {
  font-family: Roboto, 'Libre Baskerville', 'Helvetica Neue' ; /*, et-book, "Palatino Linotype", "Palatino LT STD", 'Lora', serif*/
  line-height: 1.5;
  font-weight: 300;
  margin: 30px 0;
}

p a {
  /* text-decoration: underline */
  color: #03b3ff;
}

/* slider */
.irs-from, .irs-to, .irs-single {
    color: #fff;
    font-size: 14px;
    line-height: 1.333;
    text-shadow: none;
    padding: 1px 3px;
    background: #b2001d;
    border-radius: 3px;
    -moz-border-radius: 3px;
}
.irs-bar {
  height: 8px;
  top: 25px;
  border-top: 1px solid #b2001d80;
  border-bottom: 1px solid #b2001d80;
  background: #b2001d80;
}

/* tabs */

.nav-tabs > li.active > a, .nav-tabs-custom > .nav-tabs > li.active:hover > a {
    background-color: #fff;
    color: #666;
}
.nav-tabs-custom > .nav-tabs > li > a, .nav-tabs-custom > .nav-tabs > li > a:active {
    color: #666;
    font-weight: 500;
    font-size: 14px;
    border-radius: 0;
    padding: 3px 5px 5px;
    text-transform: none;
}

.nav-tabs-custom > .nav-tabs > li > a:hover {
    color: #b2001d80;
}