.emph {
  color: #ff5503;
  font-weight: 500;
}

/* pack func and objclass colors come from hcl(seq(90,360, length.out=4), c=80, l=80)*/
.pack {
  color: #AC9CFF; /*#e41a1c*/
  font-weight: 500;
}

.func {            /*#984ea3;can just use `` instead*/
  color: #00CBB6;
  font-weight: 500;
}

.objclass {
  color:  #AAB400;  /*#4daf4a; #FFC5D0*/
  font-weight: 500;
}

a {
  color: #1e90ff;  /*dodgerblue*/
}

.resize{
  width: 400px;
  height: auto;
}


.reveal section p {
  text-align: left;
}

.reveal ol,
.reveal dl,
.reveal ul {
  display: block;
  text-align: left;
  font-size: 75%;
  margin: 0 0 0 1em;

}

.reveal section img {
    background: transparent;                      /*theme background color: https://github.com/rstudio/revealjs/tree/master/inst/reveal.js-3.2.0/css/theme*/
    border: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.15);
    /*max-width: 500px;*/
}


.reveal .footer {
  position: absolute;
  bottom: 1em;
  left: 1em;
  font-size: 0.5em;
}

.reveal .slides section .fragment {                 /* Used in lieu of lists*/
  font-size: 150%;
  font-weight: 600;
}

.reveal pre code {
  box-sizing: border-box;
  left: 0; /* This changes where the code chunk box actually starts */
  /* padding: 10px 0 10px 60px; /* Change the last value here to move the text left or right */
  position: relative;
  width: 100%; /* This changes where the code chunk box ends on the right side */
  font-size: 100%; /*changes output size; and comments*/
  box-shadow: .5 rgba(0, 0, 0, 0.15);
}

.col2 {
  columns: 2 200px;         /* number of columns and width in pixels*/
   /*font-size: 50%;*/      /* ignored, but can do in the div style within a slide*/
  /*font-size: 20pt;*/
  -webkit-columns: 2 200px; /* chrome, safari */
  -moz-columns: 2 200px;    /* firefox */
}

.col2 .reveal pre {
  font-size:25%;
}

.col3 {
  columns: 3 100px;
  /*font-size: 16pt;*/
  -webkit-columns: 3 100px;
  -moz-columns: 3 100px;
}


/* none of the following seemed to do much*/
.title {
  text-align: center;
  font-variant: small-caps;
  margin: 0 auto;

/*  background-image: url('img/CSCAR.png');
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%; */
}


.sectionSlide {
  color: #1e90ff;
  text-align: center;
  font-size: 200%;
  font-variant: small-caps;
  font-weight: 500;
  background: linear-gradient(to bottom, #002b36, white);
}

.reveal .sectionSlideTitle {
  data-background-color: white;
}

#linearBg2 { /* fallback */
  background-color: #002b36;
  background-repeat: repeat-x; /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#002b36), to(#2F2727)); /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #2F2727, #002b36); /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #2F2727, #002b36); /* IE 10 */
  background: -ms-linear-gradient(top, #2F2727, #002b36); /* Opera 11.10+ */
  background: -o-linear-gradient(top, #2F2727, #002b36);
}


.reveal .slides section table tr td {
  border: 0px;
  /*border-collapse: collapse;*/

}
